
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgba(54, 56, 28, 0.863);
  color: white;

}
.container{
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}
.card {
  width: 250px;
 
  border: 2px solid rgba(1, 1, 22, 0.582);
  border-radius: 4px;
  margin: 5px 5px;
  text-align: center;
  background-color: rgb(28, 48, 48);
   
}
.card h1{
  display: flex;
  text-align: center;
  justify-content: center;
}
.card p {
  margin: 5px 5px;
  padding: 10px 10px;
}
button{
  display: flex;
  cursor: pointer;
  background-color: rgb(158, 98, 214);
  border-radius: 2px ;
  margin: auto;
  padding: 4px
}
.card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 4px;
}
