* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.parent {
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: row;
flex-wrap: wrap;

}

.card {
  width: 250px;
  height: auto;
  border: 2px solid rgb(83, 83, 134);
  border-radius: 23px;
  padding: 10px;
  background-color: #b66b6b;
  color: black;
  margin: 10px 10px;


}

.card img {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.navbar .a {
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
  padding: 0.50rem;
}

.navbar .b {
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
  padding: 0.50rem;

}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.header h1 {
  font-size: 20px;
  font-weight: 500;
}

.header h6 {
  font-size: 10px;
  font-weight: 200;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.graph {
  display: flex;
  column-gap: 2rem;
  text-align: center;
  justify-content: space-around;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

.graph div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.graph div span {
  font-weight: bolder;

}

.graph div p {
  font-weight: lighter;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer .a {
  display: flex;
  column-gap: 6rem;
  justify-content: center;
  text-align: center;

}

.footer .b {

  border: 2px solid;
  border-image: linear-gradient(45deg, blue, #fff) 1;
  border-radius: 10px;
  margin-top: 0.5rem;
  width: 90%;
  margin: auto;
}